
body {
    background-color: #f0f0f0;
}

.my-opacity {
    opacity: 10%;
}

/*-------padding------*/

.my-padding-l-big {
    padding-left: 35px;
}
.my-padding-r-big {
    padding-right: 35px;
}
/*-------------*/
/*-------------*/
/*-------------*/
/*-------------*/
/*-------------*/
/*-------------*/
/*-------------*/
/*-------------*/
/*-------------*/



